.App {
  text-align: center;
}

.black-bg {
  background-color: #17222f;
}

.darkblue-bg {
  background-color: #202e40;
}

.mediumblue-bg {
  background-color: #304563;
}

.blue-text {
  color: #64b5f6;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
