.answer-container {
  display: flex;
  flex-direction: column;
}

.answer-inputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.answer {
  display: flex;
  margin-bottom: 15px;
  width: 100%;
}

.answer:hover {
  border: #d5a326 1px solid;
  cursor: pointer;
}

.odds {
  display: flex;
  margin-bottom: 15px;
  width: 25%;
}

.wide-input {
  width: 75%;
}

.small-input {
  width: 30%;
}

.gold-bg {
  background-color: #d5a326;
}
