.answer-container {
  display: flex;
  flex-direction: column;
}

.answer-inputs {
  display: flex;
  flex-direction: row;
}

.answer {
  display: flex;
  margin-bottom: 15px;
  width: 75%;
}

.odds {
  display: flex;
  margin-bottom: 15px;
  width: 25%;
}

.wide-input {
  width: 75%;
}

.small-input {
  width: 30%;
}
