.App {
  text-align: center;
  background-color: #17222f;
}

/* // black background #17222f
// dark blue #202e40
// inputs blue #304563
// something #1f2d40 */
/* text color blue #64B5F6 */

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
