.questionStyle {
  padding: 10px;
}

.question {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.extra-wide-input {
  width: 75%;
}

.plus {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}
